<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Wiki-API</title>
  </head>
  <body>
    <h1>🔗Endpoints:</h1>
    <h3>Get all documents:</h3>
    <p>GET http://.../articles/"</p>

    <h3>Posting new document to collection</h3>
    <p>POST http://.../articles/?title=your-title&content=your-content"</p>

    <h3>Get specific document:</h3>
    <p>GET http://.../articles/'article-tile'"</p>

    <h3>Update all values within the document:</h3>
    <p>PUT http://.../articles/"document title"</p>

    <h3>Update specific value within the document:</h3>
    <p>POST http://.../articles/"document title"</p>

    <h3>Delete specific document by title from the collection</h3>
    <p>DELETE http://.../articles/"document title"</p>

    <p></p>
  </body>
</html>
